# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
build/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
GridForce/*.svd
GridForce/*.userprefs
GridForce/*.csproj
GridForce/*.pidb
GridForce/*.suo
GridForce/*.sln
GridForce/*.user
GridForce/*.unityproj
GridForce/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ====== #
# Custom #
# ====== #
GridForce/Assets/Downloads/